/*  -----------------------------------------        */
/*  Übergreifend / Body                              */
/*  -----------------------------------------        */
html, body {
 background-image:url("");
 background-repeat:no-repeat; 
 background-size: cover;      
 overflow:hidden;             
 font-size:12pt;
 }
/*  -----------------------------------------        */
/*  Übergreifend / Body                              */
/*  -----------------------------------------        */
html, body {
 background-image:url(../hinaachen_dom_hochformat.jpgt); 
 background-repeat:no-repeat; 
 background-size: cover;      
 overflow:hidden;            

#kopfbereich {

  position:fixed;           
  top:0;                    
  left:0;                    
  border: 1px solid #ccc;    
  background-color:green;   
  width:100%;                
  height:100px;              
  z-index:2;                 

#navibereich {
  position:fixed;           
  top: 100px;                
  left:0;                    
  border: 1px solid #ccc;   
  background-color:red;     
  width:200px;              
  min-height:300px;          
  z-index:2;                

#textbereich {

  position:fixed;            
  left:0;                    
  right:0;                   
  top:100px;                
  padding-left:210px;        
  padding-right:210px;
  .header-image {
content:url(passbild.jpg); // 
width:200px;  //
float:left;  // 
margin:5px;
  padding-top:20px;          
  padding-bottom:60px;       
  border: 1px solid #ccc;    
  height:100%;               
  overflow-y: auto;          
  background-color:rgba(255,255,255,0.5);

#newsbereich {
  position:fixed;           
  right:0px;                 
  top: 100px;                
  border: 1px solid #ccc;   
  background-color:yellow;   
  width:200px;              
  min-height:300px;          
  z-index:2;                 
}

#fussbereich {

 position:fixed;              
 bottom:0;                    
 left:0;                      
 border: 1px solid #ccc;      
 width: 100%;                
 background-color: blue;      
 height:50px;                 
 z-index:2;                   
} 

/*  Höhe des Contentbereichs festlegen (wichtig!)    */                    
.content-block {
  padding-bottom: 1000px;
}

/*  ----------------------------------------- */
/*  Schriftformatierung                       */
/*  ----------------------------------------- */

p {
font-family: Garamond, Verdana, Geneva, Lucida, Avantgarde, Arial; 
font-style:normal;                                                 
font-size:11pt;                                                   
font-weight:normal;                                                
color:#000000;                                                     
}
.title {
font-size:12pt;                                                   
font-weight:bold;                                                 
}
