/*  -----------------------------------------        */
/*  Übergreifend / Body                              */
/*  -----------------------------------------        */
html, body {
 background-image:url("");
 background-repeat:no-repeat; 
 background-size: cover;      
 overflow:hidden;             
 font-size:12pt;
 }
       
#kopfbereich {
  position:fixed;           
  top:0;                    
  left:0;                    
  border: 1px solid #ccc;    
  background-color:green;   
  width:100%;                
  height:100px;              
  z-index:2;                 
}
#navibereich {
  position:fixed;           
  top: 100px;                
  left:0;                    
  border: 1px solid #ccc;   
  background-color:red;     
  width:200px;              
  min-height:300px;          
  z-index:2;                
}
#textbereich {

  position:fixed;            
  left:0;                    
  right:0;                   
  top:100px;                
  padding-left:210px;        
  padding-right:210px;
  padding-top:20px;          
  padding-bottom:60px;       
  border: 1px solid #ccc;    
  height:100%;               
  overflow-y: auto;          
  background-color:rgba(255,255,255,0.5);
  }
#newsbereich {
  position:fixed;           
  right:0px;                 
  top: 100px;                
  border: 1px solid #ccc;   
  background-color:yellow;   
  width:200px;              
  min-height:300px;          
  z-index:2;                 
}

#fussbereich {

 position:fixed;              
 bottom:0;                    
 left:0;                      
 border: 1px solid #ccc;      
 width: 100%;                
 background-color: blue;      
 height:50px;                 
 z-index:2;                   
} 

/*  Höhe des Contentbereichs festlegen (wichtig!)    */                    
.content-block {
  padding-bottom: 1000px;
}

/*  ----------------------------------------- */
/*  Schriftformatierung                       */
/*  ----------------------------------------- */

p {
font-family: Garamond, Verdana, Geneva, Lucida, Avantgarde, Arial; 
font-style:normal;                                                 
font-size:11pt;                                                   
font-weight:normal;                                                
color:#000000;                                                     
}
.title {
font-size:12pt;                                                   
font-weight:bold;                                                 
}
/*  -----------------------------------------        */
/*  Menüformatierung                                 */
/*  -----------------------------------------        */

/*  Linkformatierung für das Menü übergreifend       */
.naviformat a, button {
  	font-family: 'Montserrat', sans-serif;
  	text-transform:uppercase;	
font-size:90%;            	
	font-weight:700;		     
	color: rgb(0,0,0);		
	display: block;			
	transition: all 0.3s ease-out 0s; ! Definition Übergang von Normal zu Hover;
	text-decoration:none;		! Keinen Unterstrich unterhalb des Menütitels;
  	line-height: 20px;		! Höhe der Zeile wird festgelegt;
  	padding: 5px 5px;			! Innenabstand nach links/rechts/oben/unten;
}
/*  Formatierung des Hauptmenüs (mainnav)                  */
.mainnav {
	text-align:right;          ! Textausrichtung rechtbündig;
	list-style-type: none;     ! es werden keine Aufzählungszeichen dargestellt;
	margin: 20px 5px;          ! Abstände nach oben/unten und rechts/links;
       padding: 5px 5px;          ! Innenabstand nach links/rechts/oben/unten;
}

.mainnav > li {
	float:none;	! Menüpunkte untereinander, bei float:left, nebeneinander;
}				
/*  Formatierung des aktiven Hauptmenüpunkts */
.mainnav > li > a.active {
	font-weight:700;		! Festlegung der Fettschrift, auch „bold“ möglich;
	text-shadow: 1px 1px black, 2px 2px grey, 3px 3px 	#696969; ! Text-Schatten;
  	color: rgba(90,195,208,1);	! Festlegung des Schriftfarbe;
}
/*  Formatierung des Menüpunkts, wenn die Maus darüber fährt */
.mainnav > li > a:hover {
	font-weight:700;		! Festlegung der Fettschrift, auch „bold“ möglich;
	font-style:italic;	! Festlegung der Kursiv-Schrift;
	text-shadow: 1px 1px white, 2px 2px white, 3px 3px white; ! Text-Schatten;
  	background-color:rgba(255,255,255,0.7);   ! Hintergrundfarbe;
}
